Repository kings-n-queen/hifi-corner, pull requests merged in 2020-09, with the labels that each got.

#35 fungerende product slider med dummy data
  docs/.vscode/settings.json
  docs/assets/css/imgSwitch.css
  docs/assets/css/style.css
  docs/assets/js/app.js
  docs/assets/js/imgSwitch.js
  docs/index.html
Labels: Frontpage

#58 added toggleViewState functionality
  docs/assets/css/shop-category-list-listview.css
  docs/assets/js/listView.js
  docs/assets/js/toggleViewState.js
  docs/shop-category-list.html
Labels: Shop category list

#64 Reference price+listview styling
  docs/assets/css/shop-category-list-header.css
  docs/assets/css/shop-category-list-listview.css
  docs/assets/js/listView.js
  docs/assets/js/shop-category-list.js
  docs/shop-category-list.html
Labels: Shop category list

#65 Added overall layout grid in category-list page
  docs/assets/css/breadcrumbs.css
  docs/assets/css/mbc.css
  docs/assets/css/shop-category-list.css
  docs/assets/css/style.css
  docs/assets/js/shop-category-list.js
  docs/shop-category-list.html
Labels: Shop category list

#67 Add margin to header
  docs/assets/css/shop-category-list-header.css
Labels: Shop category list

#90 Img switch funktion
  docs/assets/css/imgSwitch.css
  docs/assets/js/app.js
  docs/assets/js/imgSwitch.js
  docs/index.html
Labels: Frontpage, Functionality

#91 added billede på singlepage samt funktionalitet
  docs/assets/css/single-page-layout.css
  docs/assets/css/singlepage-image.css
  docs/assets/js/single-product.js
  docs/assets/js/singlepage--image.js
  docs/single-product-description.html
Labels: Functionality, Shop single product

#92 Functionality for getting URL parameters and setting URL.
  docs/assets/css/breadcrumbs.css
  docs/assets/css/shop-category-list.css
  docs/assets/css/single-page-layout.css
  docs/assets/js/shop-category-list.js
  docs/assets/js/single-product.js
  docs/assets/js/url-handler.js
  docs/single-product-description.html
Labels: Functionality

#96 frontpage-add link to productslider
  docs/assets/css/imgSwitch.css
  docs/assets/js/app.js
  docs/assets/js/imgSwitch.js
  docs/assets/js/url-handler.js
  docs/index.html
Labels: Frontpage, Functionality

#105 filter by price added.
  docs/assets/data/database.json
  docs/assets/js/listView.js
  docs/assets/js/shop-category-list-filterByPrice.js
  docs/assets/js/shop-category-list.js
  docs/assets/js/single-product.js
  docs/shop-category-list.html
  docs/single-product-description.html
Labels: Functionality

#108 filter by manufacturer functionality
  docs/assets/js/listView.js
  docs/assets/js/shop-category-list-filterByManufacturer.js
  docs/assets/js/shop-category-list-filterByPrice.js
  docs/assets/js/shop-category-list.js
  docs/assets/js/singlepage--image.js
  docs/shop-category-list.html
Labels: Functionality, Shop category list

#115 added auto numbers for the filter
  docs/assets/js/shop-category-list-filterNumbers.js
  docs/assets/js/shop-category-list.js
  docs/shop-category-list.html
Labels: Functionality, Shop category list

#119 rettet css for listview
  docs/assets/css/shop-category-list-listview.css
  docs/assets/css/style.css
Labels: Shop category list
